---
import { ChevronDown, GitCompareArrowsIcon } from "lucide-react";
// src/components/DesktopMenu.astro
import { cn } from "#/lib/utils";
import type { MenuItem } from "#/shared/types";
import { ThemeSwitcher } from "../shadcn/ThemeSwitcher";
import logo from "#/assets/logo.png";
import { Image } from "astro:assets";
import { Button } from "../shadcn/button";
import { MobileMenu } from "#/widgets/MobileMenu";

const { config } = Astro.props as { config: MenuItem[] };

const navigationMenuTriggerStyle =
  "inline-flex w-max items-center rounded-full justify-center  px-4 py-2 text-lg font-medium transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus:outline-none";
---

<nav class="relative z-10 flex w-full flex-1 items-center">
  <a href="/" title="На главную" title="Главная" class="shrink-0">
    <Image src={logo} alt={""} class={"size-14"} />
  </a>
  <ul class="ml-auto flex-1 list-none items-center justify-end space-x-1 hidden md:flex">
    {
      config.map((item) => (
        <li class="relative">
          {!item.nested ? (
            <a href={item.href} class={navigationMenuTriggerStyle}>
              {item.title}
            </a>
          ) : (
            <button
              class={cn(navigationMenuTriggerStyle, "group flex items-center gap-1")}
              aria-haspopup="true"
            >
              {item.title}
              <span class="relative top-[1px] ml-1 h-3 w-3 transition-transform duration-200 group-hover:rotate-180">
                <ChevronDown className="h-3 w-3" aria-hidden="true" />
              </span>
              <div class="absolute left-0 top-full hidden w-fit gap-3 rounded-md border bg-popover p-4 text-popover-foreground shadow-lg group-hover:block">
                <ul class="flex flex-col gap-3">
                  {item.nested.map((nestedItem) => (
                    <li>
                      <a
                        href={nestedItem.href}
                        class={cn(
                          "block select-none space-y-1 text-nowrap rounded-md p-3 leading-none no-underline outline-none transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground",
                        )}
                      >
                        <div class="text-sm font-medium leading-none">{nestedItem.title}</div>
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </button>
          )}
        </li>
      ))
    }
   
    <!-- <li class="ml-auto">
      <ThemeSwitcher client:load />
    </li> -->
  </ul>
   <a href={"/#catalog"} class="ml-auto hidden md:block">
      <Button className="w-28 lg:w-40" size={'sm'}>Заказать</Button>
    </a>
    <MobileMenu client:load/>
</nav>

<style>
  .group-hover\:block {
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }
</style>

<script>
  document.addEventListener("click", (e) => {
    const dropdowns = document.querySelectorAll(".group > div");
    dropdowns.forEach((dropdown) => {
      if (!dropdown.contains(e?.target as Node)) {
        dropdown.classList.add("hidden");
      }
    });
  });

  // Обработчики для мобильной навигации
  document.querySelectorAll('button[aria-haspopup="true"]').forEach((button) => {
    button.addEventListener("click", () => {
      const dropdown = button.nextElementSibling;
      dropdown?.classList.toggle("hidden");
    });
  });
</script>
