---
import actionBg from "#/assets/action_bg.png";
import coffe from "#/assets/coffe.png";
import hand from "#/assets/hand.png";
import { AstroContainer, AstroSection, P } from "#/components/astro";
import H from "#/components/astro/H.astro";
import { Button } from "#/components/shadcn/button";
import Footer from "#/widgets/Footer.astro";
import MapAsync from "#/widgets/MapAsync.astro";
import { ProductCarousel } from "#/widgets/ProcuctCarousel";
import { Image, Picture } from "astro:assets";
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const data = await getEntry("main", "main");
---

<Layout
  title="Stars Coffe"
  description="Кофейня Stars Coffe | Великий новгород"
  seoData={{
    description: "Кофейня Stars Coffe | Великий новгород",
    image: "",
    ogType: "website",
    title: "Stars Coffe",
    favicon: "",
  }}
>
  <!-- контент страницы -->
  <AstroSection className="relative">
    {
      data?.data.heroImg && (
        <Picture
          loading={"eager"}
          src={data?.data.heroImg}
          alt={""}
          class={
            "absolute bottom-0 left-0 right-0 top-0 h-full w-full object-cover xl:object-bottom"
          }
        />
      )
    }
    <div
      class="absolute bottom-0 left-0 right-0 top-0 z-10 bg-gradient-to-b from-black/5 via-black/30 to-transparent sm:hidden"
    >
    </div>
    <AstroContainer
      className="relative z-10 flex min-h-[600px] flex-col justify-center xl:min-h-[800px] 2xl:min-h-[1000px]"
    >
      <div class="sm:mx-0 sm:w-1/2">
        <H level="h1" margin="small" className="z-20 font-black uppercase drop-shadow-md"
          >{data?.data.title}</H
        >
        <H level="h3" as="span" className="z-20 drop-shadow-md">{data?.data.subtitle}</H>
        <div class="pt-4 md:pt-8 lg:pt-14">
          <a href={data?.data.heroButton.link} class="z-10 w-full lg:w-[338px]">
            <Button className="w-[300px] sm:w-[338px]">{data?.data.heroButton.title}</Button>
          </a>
        </div>
      </div>
    </AstroContainer>
  </AstroSection>
  <AstroSection id={"catalog"} className="scroll-mt-20">
    <AstroContainer className="relative">
      <Picture src={coffe} alt={""} class={"absolute top-0 left-0"} />
      <ProductCarousel client:load catalogue={data?.data.catalogue} />
    </AstroContainer>
  </AstroSection>

  <AstroSection id={"about"}>
    <AstroContainer className="relative">
      {
        data?.data.about.title && (
          <Picture src={data?.data.about.title} alt={""} class={"mt-10 opacity-30"} />
        )
      }
      <H className="pt-8 text-center font-[800]">{data?.data.about.subtitle}</H>
      <div class="flex flex-col gap-8 lg:flex-row">
        <div class="w-full lg:w-1/3">
          {
            data?.data.about.advantages.slice(0, 2).map((item, i) => (
              <div class="flex gap-4">
                <div>
                  <h3 class="text-9xl font-[800] text-[#FFFFFF2E]">{i + 1}</h3>
                </div>
                <div>
                  <P size="lg" margin="default" className="uppercase font-[500]">
                    {item.title}
                  </P>
                  <P>{item.description}</P>
                </div>
              </div>
            ))
          }
        </div>
        <div class="w-full lg:w-1/3">
          {/* @ts-ignore */}
          <Image src={data?.data.about.img} alt={""} />
        </div>
        <div class="w-full lg:w-1/3">
          {
            data?.data.about.advantages.slice(2).map((item, i) => (
              <div>
                <>
                  <h3 class="text-9xl font-[800] text-[#FFFFFF2E]">{i + 3}</h3>
                  <P size="lg" margin="default" className="uppercase font-[500]">
                    {item.title}
                  </P>
                </>{" "}
                <P>{item.description}</P>
              </div>
            ))
          }
        </div>
      </div>
    </AstroContainer>
  </AstroSection>
  <AstroSection id={"contacts"}>
    <AstroContainer>
      <H margin="small" className="mt-20">Как нас найти?</H>
      <P margin="default"
        >Адрес: улица Федоровский ручей 2/13 Универмаг "Диез" со стороны набережной</P
      >
      <MapAsync
        treshold={600}
        link="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3d53a65278910f3229988a7da4cdeeb403dfad73a7c6d4def0f09311be4c8c17&width=100%&height=400&lang=ru_RU&scroll=true"
      />
    </AstroContainer>
  </AstroSection>
  <AstroSection className="relative overflow-hidden" id={"actions"}>
    <Picture
      src={actionBg}
      alt={""}
      class={"absolute top-0 w-full min-h-full bottom-0 right-0 left-0 object-cover"}
    />
    <AstroContainer>
      <div class="mb-72 py-32 lg:mb-40 lg:py-56">
        <div
          class="rounded-[30px] border border-none bg-gradient-to-b from-white/40 to-transparent px-8 pb-16 pt-8 backdrop-blur-[100px] lg:pb-8 lg:pt-20"
        >
          <div class="w-full lg:w-1/2 xl:w-2/3">
            <H level="h1" margin="none" className="font-black uppercase" as="h2"
              >{data?.data.action.title}
              <span class="ml-2 text-primary">{data?.data.action.accent}</span></H
            >
            <P className="text-3xl">{data?.data.action.subtitle}</P>
            <H level="h2" className="font-black uppercase" as="h2"
              >{data?.data.action.description}</H
            >
          </div>
        </div>
      </div>
    </AstroContainer>
    <Image
      src={hand}
      alt={""}
      class={"absolute z-10 -right-28 lg:-right-14 bottom-14 max-h-[432px] lg:max-h-none object-contain pointer-events-none"}
    />
    <Footer contacts={data?.data.contacts} className="bottom-0" />
  </AstroSection>
</Layout>
